alembic==1.7.4
aniso8601==9.0.1
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.1
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.1.0
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-sqlalchemy==0.26.1
nltk==3.6.5
packaging==21.0
pluggy==1.0.0
psycopg2==2.9.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytz==2021.3
regex==2021.10.8
requests==2.26.0
selenium==3.141.0
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==2.0.1
